### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
#check current directory for path 
os.getcwd()

'/Users/jcook/00_Portfolio/04-pandasHW/HeroesOfPymoli'

In [2]:
# File to Load (Remember to Change These)
player_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(player_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [44]:
#display the total number of players with count
total_players  = purchase_data['SN'].nunique()
print(total_players)
total_p = {'Total Players': [total_players]}
total_df = pd.DataFrame(total_p)
total_df.head()

576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
import math 

#getting each item name 
uniqueItems = len(purchase_data['Item ID'].unique())


#getting average item price
averagePrice = purchase_data['Price'].mean()

#getting number of total purchases
purchaseTotal = purchase_data['Purchase ID'].count()


#getting total revenue 
totalRevenue = purchase_data['Price'].sum()


items = {'Number of Unique Items': [uniqueItems], 'Average Price': ["%0.2f" % averagePrice], 
         'Number of Purchases': [purchaseTotal], 'Total Revenue': [totalRevenue]}
items_df = pd.DataFrame(items)
items_df.head()

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179          3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
#getting gender titles 
gender_titles = purchase_data['Gender'].value_counts()


#getting total count of each gender 
male_df = purchase_data.loc[purchase_data['Gender']=='Male']
total_male = male_df['Gender'].count()


female_df = purchase_data.loc[purchase_data['Gender']=='Female']
total_women = female_df['Gender'].count()

other_df = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed']
total_other = other_df['Gender'].count()


percentage_man = ((total_male/total_players) *100.00).round(2) 
percentage_woman = ((total_women/total_players) *100.00).round(2)
percentage_other = ((total_other/total_players) *100.00).round(2)


gender = {'Gender':['Male','Female','Other / Non-Disclosed'], 'Total Count': [total_male, total_women, total_other], 
             'Percentage of Players': [percentage_man, percentage_woman, percentage_other]}
gender_df = pd.DataFrame(gender).set_index('Gender')
gender_df.head()

                       Total Count  Percentage of Players
Gender
Male                           652                 113.19
Female                         113                  19.62
Other / Non-Disclosed           15                   2.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
#get avg purchase price for male
avg_male_purchase = male_df['Price'].mean()


#get avg purchase price for female
avg_female_purchase = female_df['Price'].mean()

#get avg purchase price for other
avg_other_purchase = other_df['Price'].mean()

#get total purchase value for male
total_male_purchase = male_df['Price'].sum()

#get total purchase value for female
total_female_purchase = female_df['Price'].sum()

#get total purchase value for other
total_other_purchase = other_df['Price'].sum()

#get avg purchase value per person male/female/other


#create data frame to display 

purchase_by_gender = {'Gender':['Male','Female','Other / Non-Disclosed'], 
                      'Purchase Count': [total_male, total_women, total_other], 
             'Average Purchase Price': ["%0.2f" % avg_male_purchase, "%0.2f" % avg_female_purchase, 
                                        "%0.2f" % avg_other_purchase],
                     'Total Purchase Value': [total_male_purchase, total_female_purchase,
                                             total_other_purchase],
                     'Avg Total Purchase per Person':[0,0,0]}
purchase_by_gender_df = pd.DataFrame(purchase_by_gender).set_index('Gender')
purchase_by_gender_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.02,1967.64,0
Female,113,3.20,361.94,0
Other / Non-Disclosed,15,3.35,50.19,0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
#Obtain bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]

#age groups 
ag_groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

purchase_data['Age Groups'] = pd.cut(purchase_data["Age"], bins, labels = ag_groups)

age_df = purchase_data.groupby("Age Groups")
age_total = age_df["SN"].nunique()
age_percent = (age_total / total_players) * 100

age_info_df = pd.DataFrame({"Total": age_total, "Percentage": age_percent})

age_info_df['Percentage'] = age_info_df['Percentage'].map("{:,.2f}%".format)

print(age_info_df)

            Total Percentage
Age Groups
<10            17      2.95%
10-14          22      3.82%
15-19         107     18.58%
20-24         258     44.79%
25-29          77     13.37%
30-34          52      9.03%
35-39          31      5.38%
>40            12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
#average based on age 
total_age_count = age_df["Purchase ID"].count()
avg_age_purchase = age_df["Price"].mean()
avg_age_total = age_df["Price"].sum()
avg_age = avg_age_total/age_total

purchase_analysis = pd.DataFrame({"Total Purchases": total_age_count, 
                                    "Average Price": avg_age_purchase,
                                    "Average Purchase Total": avg_age_total,
                                    "Purchase Total per Person": avg_age})

print(purchase_analysis)

            Total Purchases  Average Price  Average Purchase Total  \
Age Groups
<10                      23       3.353478                   77.13
10-14                    28       2.956429                   82.78
15-19                   136       3.035956                  412.89
20-24                   365       3.052219                 1114.06
25-29                   101       2.900990                  293.00
30-34                    73       2.931507                  214.00
35-39                    41       3.601707                  147.67
>40                      13       2.941538                   38.24

            Purchase Total per Person
Age Groups
<10                          4.537059
10-14                        3.762727
15-19                        3.858785
20-24                        4.318062
25-29                        3.805195
30-34                        4.115385
35-39                        4.763548
>40                          3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
#average based on sn
spender_df = purchase_data.groupby("SN")
spender_count = spender_df["Purchase ID"].count()
avg_spender_purchase = spender_df["Price"].mean()
spender_totalp = spender_df["Price"].sum()

top_spenders = pd.DataFrame({"Puchase Count": spender_count, 
                                    "Average Purchase Price": avg_spender_purchase,
                                "Total Purchase Value": spender_totalp})

top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=  False)                     
print(top_spenders)

             Puchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                5                3.792000                 18.96
Idastidru52              4                3.862500                 15.45
Chamjask73               3                4.610000                 13.83
Iral74                   4                3.405000                 13.62
Iskadarya95              3                4.366667                 13.10
...                    ...                     ...                   ...
Ililsasya43              1                1.020000                  1.02
Irilis75                 1                1.020000                  1.02
Aidai61                  1                1.010000                  1.01
Chanirra79               1                1.010000                  1.01
Alo38                    1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
#retrieve item name 
item_df = purchase_data[['Item ID','Item Name','Price']].set_index('Item ID')
group_items = item_df.groupby(["Item ID", "Item Name"])

purchase_count = group_items["Price"].count()
total_pValue = group_items["Price"].sum()
item_price = total_pValue/purchase_count

popular_items_df = pd.DataFrame({"Purchase Count": purchase_count,
                                "Item Price": item_price,
                                "Total Purchase Value": total_pValue})

popular_items_df = popular_items_df.sort_values(["Purchase Count"], ascending=False)

print(popular_items_df)

                                                      Purchase Count  \
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
132     Persuasion                                                 9
108     Extraction, Quickblade Of Trembling Hands                  9
...                                                              ...
42      The Decapitator                                            1
51      Endbringer                                                 1
118     Ghost Reaver, Longsword of Magic                           1
104     Gladiator's Glaive                                         1
91      Celeste                                                    1

                                                      Item Price  \
Item ID Item Name
92      Final Critic                                    4.614615
178     Oathbreaker, Last Hope of the Breaking Storm    4.230000
145     Fiery Glass Crusader                            4.580000
132     Persuasion                                      3.221111
108     Extraction, Quickblade Of Trembling Hands       3.530000
...                                                          ...
42      The Decapitator                                 1.750000
51      Endbringer                                      4.660000
118     Ghost Reaver, Longsword of Magic                2.170000
104     Gladiator's Glaive                              1.930000
91      Celeste                                         4.170000

                                                      Total Purchase Value
Item ID Item Name
92      Final Critic                                                 59.99
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
145     Fiery Glass Crusader                                         41.22
132     Persuasion                                                   28.99
108     Extraction, Quickblade Of Trembling Hands                    31.77
...                                                                    ...
42      The Decapitator                                               1.75
51      Endbringer                                                    4.66
118     Ghost Reaver, Longsword of Magic                              2.17
104     Gladiator's Glaive                                            1.93
91      Celeste                                                       4.17

[179 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [54]:
popular_items_df = popular_items_df.sort_values(["Total Purchase Value"], ascending=False)

print(popular_items_df)

                                                      Purchase Count  \
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
82      Nirvana                                                    9
145     Fiery Glass Crusader                                       9
103     Singed Scalpel                                             8
...                                                              ...
28      Flux, Destroyer of Due Diligence                           2
126     Exiled Mithril Longsword                                   1
125     Whistling Mithril Warblade                                 2
104     Gladiator's Glaive                                         1
42      The Decapitator                                            1

                                                      Item Price  \
Item ID Item Name
92      Final Critic                                    4.614615
178     Oathbreaker, Last Hope of the Breaking Storm    4.230000
82      Nirvana                                         4.900000
145     Fiery Glass Crusader                            4.580000
103     Singed Scalpel                                  4.350000
...                                                          ...
28      Flux, Destroyer of Due Diligence                1.060000
126     Exiled Mithril Longsword                        2.000000
125     Whistling Mithril Warblade                      1.000000
104     Gladiator's Glaive                              1.930000
42      The Decapitator                                 1.750000

                                                      Total Purchase Value
Item ID Item Name
92      Final Critic                                                 59.99
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
82      Nirvana                                                      44.10
145     Fiery Glass Crusader                                         41.22
103     Singed Scalpel                                               34.80
...                                                                    ...
28      Flux, Destroyer of Due Diligence                              2.12
126     Exiled Mithril Longsword                                      2.00
125     Whistling Mithril Warblade                                    2.00
104     Gladiator's Glaive                                            1.93
42      The Decapitator                                               1.75

[179 rows x 3 columns]